.best-selling-goods {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
}

.best-selling-goods h2 {
    .caption;
}

.best-selling-goods b {
    .font(17px;
    20px;
    bold);
    text-transform: uppercase;
}

.best-selling-goods__options {
    display: flex;
    width: 100%;
}

.best-selling-goods__options ul {
    padding: 0;
    list-style: none;

}

.best-selling-goods__options li {
    border-bottom: @border;
}

.best-selling-goods__options-names li {
    width: 100px;
}

.best-selling-goods__options-value {
    width: 100%;
}

.best-selling-goods__container-name > b {
    color: @main-color;
}

.best-selling-goods__main-info {
    display: flex;
    flex-direction: column;
}


.best-selling-goods__wrapper-button {
    text-align: center;
}

.best-selling-goods img {
    background-color: #f1f1f1;
}

@media (min-width: @width-table) {
    .best-selling-goods {
        .padding-table;
        width: 100%;
    }
    .best-selling-goods__container-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

    }
    
    .best-selling-goods__container-name h2{
        .font(43px;50px; bold);
    }
    .best-selling-goods__container-name b {
        width: 72px;
        max-width: auto;
        text-align: center;
    }

    .best-selling-goods__goods-info {
        padding-right:50px;
        width: 50%;
        box-sizing: border-box;
    }

    .best-selling-goods__wrapper-button {
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        padding-right: 50px;
        margin-top: -80px;
    }

    .best-selling-goods__wrapper-img {
        width: 50%;
    }
    
    .best-selling-goods__wrapper-img img{
        width: 100%;
    }


    .best-selling-goods__main-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
}

@media (min-width: @width-desctop) {
    .best-selling-goods{
        max-width: 1150px;
        margin: 0 auto;
    }
    .best-selling-goods__container-name{
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 10;
        padding: 0 50px;
        
    }
    .best-selling-goods__goods-info{
        padding-top: 100px;
        padding-left: 175px;
        box-sizing: border-box;
    }
    
    .best-selling-goods__wrapper-button{
        padding-left: 175px;
    }
    .best-selling-goods__container-name h2{
        .font(53px; 57px; bold);
    }
    .best-selling-goods__container-name b {
       display: flex;
       margin-right: 50px;
    }
    
    .best-selling-goods__main-info{
        margin-top: -100px;
    }
}