.best-selling-goods{
    max-width: 320px;
    padding: 30px;
    box-sizing: border-box;
}
.best-selling-goods h2{
    .caption;
}

.best-selling-goods b{
    .font(17px; 20px; bold);
    text-transform: uppercase;
    color: @main-color;
}

b.best-selling-goods__price{
    color: @base-color-text;
}

.best-selling-goods img{
    background-color: #f1f1f1;
}

