.catalog-items{
    padding: 30px;
    padding-bottom: 0;
}
.catalog-items__wrapper{
    border: @border;
}
.catalog-items__wrapper h3{
    .font(17px;24px; bold);
    color:#000;
    padding-left: 28px;
    padding-right: 28px;
}

.catalog-items__wrapper p{
    font-size: 13px;
    line-height: 30px;
    padding-left: 28px;
    padding-right: 28px;
}


.catalog-items__wrapper b{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: @border;
    .font(17px; 24px; bold);
    min-height: 74px;
    color: #000;
    padding-left: 28px;
    padding-right: 28px;
}