.contacts{
    box-sizing: border-box;
   
}

.contacts h2{
    .caption;
    font-size: 18px;
    padding: 30px;
}

.contacts__info{
    display: flex;
    padding: 30px;
}

.contacts__info-map{
    height: 457px;
    width: 320px;
    background-image: url(../img/map-mobile@1x.jpg);
    background-repeat: no-repeat;
}

.contacts__button-container{
    padding: 30px;
}
.contacts__info-map-container {
    position: relative;
    height: 457px;
    
}
