.font(@weight: 400;@size;@line-height:normal;@letter-spacing:normal; @color:#000;){
    font-family: 'Open Sans', sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @line-height;
    letter-spacing:@letter-spacing;
    color: @color;
}

.size(@width; @height){
    width: @width;
    height: @height
}

@border: 1px solid #ececec;