.font(@size; @line-heigt; @weight){
    font-size: @size;
    line-height: @line-heigt;
    font-weight: @weight;
}

.size(@width; @height){
    width: @width;
    height: @height
}

@base-color-text: #000;
@main-color:#63d1bb;

@border: 1px solid #ececec;