.header-nav__lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 0;
    left: 0;
    top: 62px;
    list-style: none;
    & a{
        position: relative;
        .font(bold;17px; 24px);
        text-decoration: none;
        .size(320px;79px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    & a:hover{
        opacity: 0.6;
    }
    & a:active{
        opacity: 0.3;
    }
    & li{
        box-sizing: border-box;
        border-bottom: @border;
        border-top: @border
    }
}