.main__caption{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 177px;
    background-color: #f1f1f1;
    color: #000;
}

.main__text-form{
    .font(13px; 24px;);
    padding: 0 30px;
}

