.our-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    .size(100%;
    488px);
    box-sizing: border-box;
    background-image: url(../img/hero-mobile@1x3.jpg);
    background-position: center -16%;
    background-repeat: no-repeat;
    background-color: #fafafa;
    background-size: auto;
    text-align: center;
    padding-top: 76px;
}

.our-products h1 {
    .caption;
    .font(27px;
    30px;
    bold);
    width: 260px;
    margin-top: -6px;
}

.our-products__type-goods {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;

    &--interior {
        background-color: @main-color;
    }
    &--toys {
        background-color: darken(@main-color, 10%);
    }

    &--interior:active > b,
    &--toys:active > svg {
        opacity: 0.3;
    }
}

.our-products__type-goods a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    .size(100%;
    103px);
    .font(19px;
    24px;
    bold);
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-top: 23px;
}

.our-products__type-goods a:hover {
    height: 108px;
}

.our-products__type-goods b {
    max-width: 130px;
    text-align: left;
}


.our-products__type-goods--interior svg,
.our-products__type-goods--toys svg {
    transition: all 0.3s ease;
    fill: #149080;
    opacity: 0.5;
    margin-right: 6px;
    margin-top: 9px;
}

.our-products__type-goods--toys svg {
    position: relative;
    right: -10px;
}

@media (min-width: @width-table) {
    .our-products {
        height: 728px;
        background-position: center 8%;
        background-size: 150%;
        padding: 0 50px;
    }
    .our-products__type-goods {
        flex-direction: row;
        align-items: flex-end;

    }
    .our-products__type-goods a {
        width: 100%;
    }

    .our-products h1 {
        .caption;
        .font(43px;
        50px;
        bold);
        width: 668px;
        margin-top: 76px;
    }
}
