.production{
    padding:30px;
}

.production h2{
    .font(17px; 24px; bold);
    color: #000;
    text-align: left;
    width: 126px;
    padding-left: 28px;
    padding-right: 28px;
}

.production p{
    .font(13px; 24px;);
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 0;
}

.production__button-wrapper{
    padding-left: 28px;
    padding-right: 28px;
    margin: 20px auto;
}

.production__items-wrapper{
    border: @border;
    
}
