.review{
    box-sizing: border-box;
    padding: 30px;
}
.review h2{
    .caption;
}
.review__items{
    display: flex;
    flex-direction: column;
}
.review__items blockquate{
    line-height: 30px;
}

.review__items cite{
    .font(17px; 24px; bold);
    color: #000;
    font-style: normal;
}

.review__items address{
    line-height: 30px;
    font-style: normal;
}
.review__control{
    display: flex;
}
.review__control-button{
    width: 100%;
    min-height: 52px;
    background-color: transparent;
    border: @border;
    background-image: url(../../img/icon-left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    box-sizing: border-box;
    
    &--right{
        transform: rotate(180deg);
        border-right: none;
    }
}





